extends layout 

block metas 
    title Error 404 Not Found 
    meta(name="description", content="Error 404 Not Found")

block content   
    main.container 
        h1.error404 Error 404 Not Found 
        a(href="/") Ir al Home