extends layout 

block metas 
    title Home
    meta(name="description", content="Descripción de la Página")

block content 
    main.container 
        h1 Home de Mi Sitio
        nav 
            ul 
                li 
                    a(href="/contacto") Contacto (.html) 
                li 
                    a(href="/git")  Git (.md)
                li 
                    a(href="/nodejs")  NodeJS (.md)